/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

//  Import font family
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
// @import "@ionic/angular/css/palettes/dark.class.css";
// @import "@ionic/angular/css/palettes/dark.system.css";

// import animate css
@import "animate.css";

// Override Ionic colors

:root {
  --input-height: 40px;
  // --ion-color-primary: #3986b3;
  // --ion-color-primary-rgb: 57, 134, 179;
  // --ion-color-primary-contrast: #000000;
  // --ion-color-primary-contrast-rgb: 0, 0, 0;
  // --ion-color-primary-shade: #32769e;
  // --ion-color-primary-tint: #4d92bb;

  // --ion-color-secondary: #ab8900;
  // --ion-color-secondary-rgb: 171, 137, 0;
  // --ion-color-secondary-contrast: #000000;
  // --ion-color-secondary-contrast-rgb: 0, 0, 0;
  // --ion-color-secondary-shade: #967900;
  // --ion-color-secondary-tint: #b3951a;

  // --ion-color-tertiary: #90b29d;
  // --ion-color-tertiary-rgb: 144, 178, 157;
  // --ion-color-tertiary-contrast: #000000;
  // --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  // --ion-color-tertiary-shade: #7f9d8a;
  // --ion-color-tertiary-tint: #9bbaa7;

  // --ion-color-dark: #282827;
  // --ion-color-dark-rgb: 40, 40, 39;
  // --ion-color-dark-contrast: #ffffff;
  // --ion-color-dark-contrast-rgb: 255, 255, 255;
  // --ion-color-dark-shade: #232322;
  // --ion-color-dark-tint: #3e3e3d;
}

* {
  font-family: "Source Sans 3", sans-serif;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

ion-alert.custom-alert {
  --min-width: 75%;
  --backdrop-opacity: 0.7;
}
button.alert-button.alert-button-confirm {
  color: var(--ion-color-light);
  background: var(--ion-color-primary);
  padding: 5px 10px;
  border-radius: 5px;
}
ion-alert.service-check-alert .alert-head.sc-ion-alert-md {
  padding: 0.5rem;
}
.alert-button-group.sc-ion-alert-md {
  justify-content: center;
  padding: auto 24px;
  button.alert-button.alert-button-confirm {
    width: 100%;
    margin: 0 17px;
    span {
      display: flex;
      justify-content: center;
    }
  }
}

.custom-alert .alert-head {
  // text-align: center;
  padding-bottom: 5px;
}

.custom-alert .alert-input-group {
  padding-top: 5px;
  padding-bottom: 5px;
}

input.custom-alert-input {
  border: 1px solid var(--ion-border-color) !important;
  border-radius: 6px;
  padding: 0.5rem 1rem !important;
}

ion-fab-button {
  --color: var(--ion-color-light);
}

// For fix the scrollbar
ion-content::part(scroll) {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

ion-backdrop::part(backdrop) {
  background-color: red !important;
}

// all checkbox style here
ion-checkbox {
  --size: 16px;
}
ion-checkbox::part(label) {
  margin-inline-start: 10px;
  font-size: 0.875rem;
  font-weight: 600;
}
ion-checkbox::part(container) {
  --size: 12px;
}

// ion menu -> ion list -> ion item style here

ion-menu {
  ion-list {
    ion-item {
      --padding-start: 1rem;
      --padding-end: 1rem;
      --inner-padding-end: 0px;
      ion-label {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
  }
}

// all ion-header in modal style here
ion-modal {
  ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary-shade);
      // --background: #083787;
      // --color: #fff;
      ion-title {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
  }
}

// all ion-textarea style here
ion-textarea {
  // background-color: var(--ion-color-primary-contrast);
  border-radius: 6px !important;
  --padding-bottom: 0 !important;
  --padding-top: 8px !important;
  --border-color: var(--ion-border-color) !important;
  --placeholder-font-weight: 500;
}

// all input and select style here
ion-input,
ion-select {
  // background-color: var(--ion-color-primary-contrast);
  min-height: var(--input-height) !important;
  font-size: 0.875rem !important;

  border-radius: 6px !important;
  --padding-bottom: 0 !important;
  --padding-top: 0 !important;
  --border-color: var(--ion-border-color) !important;
  --placeholder-font-weight: 500;
  // --placeholder-opacity: 0.5;
  // --placeholder-font-style:
  // &::placeholder {
  //   font-size: 150px !important;
  // }
}

// all label style here
ion-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--ion-item-text-color);
}

// * User Role
p.sc-ion-label-md {
  text-align: left;
}

// all toggle common style here
ion-toggle::part(handle) {
  --handle-max-height: 16px;
}
ion-toggle {
  --handle-width: 15px;
  --handle-height: 15px;
  font-size: 0.875rem;
  font-weight: 600;
}
ion-toggle::part(label) {
  white-space: normal !important;
  overflow: auto !important;
}

ion-toggle::part(track),
ion-toggle.toggle-checked::part(track) {
  height: 15px;
  width: 30px;

  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}

// * All Ion Item Height
ion-item {
  --min-height: var(--input-height);
}

// all ion button common styles here
ion-button {
  --border-radius: 4px !important;
  text-transform: capitalize;
  --border-width: 1px;
  font-size: 0.875rem;
  font-weight: 800 !important;
}

.custom-input {
  --padding-start: 1rem;
  --inner-padding-end: 1rem;
  --border-width: 1px;
  --border-radius: 5px;
  --border-color: var(--ion-border-color);
  border: none;
}
ion-item.custom-input::part(native) {
  max-height: var(--input-height);
  min-height: var(--input-height);
  --padding-start: 0;
  --inner-padding-end: 0;
}
.custom-input {
  ion-input {
    --padding-start: 1rem;
  }
}

// contact input style
.custom-input {
  .contact-input {
    // padding: 0.25rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    ion-select {
      ion-icon {
        margin-right: 0.5rem;
      }
    }
    ion-select::part(icon) {
      color: var(--ion-color-primary);
    }
  }
}

// Ion Fab
ion-fab {
  ion-fab-button::part(native) {
    border-radius: 12px;
    height: 48px;
    width: 48px;
  }
}

ion-toggle {
  --track-background: var(--ion-color-toggle);
}

ion-row.service-cards {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 145px;
    width: 140px;
    ion-card.service-card {
      box-shadow: 5px 5px 25px var(--ion-box-shadow-color);
      border: 1px solid var(--ion-tab-bar-border-color);
      position: relative;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      width: 120px;
      height: 120px;
      margin: auto;
      justify-content: center;
      align-items: center;

      img {
        position: absolute; // Position the image absolutely
        top: 20px; // Adjust top as needed
        left: 50%; // Center the image horizontally
        transform: translateX(-50%); // Adjust horizontal centering
        width: 35px;
        height: 35px;
      }

      ion-label {
        padding-top: 50px;
        font-size: 0.7rem;
        text-align: center;
        color: var(--ion-color-dark-shade);
      }
    }
  }
}

// all ion popover style here

ion-popover::part(content) {
  // --width: fit-content;
  border: none;
}

ion-popover {
  ion-item::part(native) {
    --min-height: 36px;
    background-color: transparent;
    --background: transparent;
  }
}

ion-item::part(native) {
  background-color: transparent;
  --background: transparent;
}

// * for active route link
.active-link {
  color: var(--ion-color-primary) !important;
  font-weight: 600 !important;
}

// * for ion card
ion-card {
  border-radius: 12px;
  background: linear-gradient(45deg, var(--ion-color-primary-shade), var(--ion-color-light-shade));
  // border: 1px solid var(--ion-border-color);
  // box-shadow: 5px 5px 20px var(--ion-box-shadow-color);
}

.menu_active {
  ion-icon[slot="start"] {
    margin-right: 0 !important;
  }
}

#sidebar_menu,
#admin_menu {
  transition: 0.5s;
}

.menu_active {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
  .menu-hide-item {
    display: none !important;
  }

  .sidebar_menu {
    margin-bottom: 40px;
    min-width: 272px;
    ion-label {
      display: none;
    }
  }

  .item-inner {
    padding: 0 !important;
  }

  ion-title {
    padding: 0 16px;
    text-align: center;
  }

  ion-list.ion-margin-start.ion-no-padding.ng-star-inserted.md.list-md.hydrated {
    margin-left: 0;
    position: relative;
    left: 10px;
  }

  .open-menu-icon {
    display: block !important;
  }
}
.split-pane-visible {
  .split-pane-side {
    max-width: 272px;
    min-width: 272px;
  }
}

.table-heading {
  ion-grid {
    ion-row {
      ion-col {
        font-weight: 600;
      }
    }
  }
}

ion-modal {
  ion-header {
    ion-toolbar {
      ion-title {
        font-size: 1.2rem;
      }
    }
  }
}

ion-popover.job-aid-popover {
  --min-width: 300px;
  --max-width: 300px;
  --offset-x: -5px;
}
.custom-title {
  white-space: normal;
  text-overflow: unset;
}

ion-popover {
  ion-header {
    ion-toolbar {
      ion-title {
        font-size: 0.7rem;
        -webkit-padding-start: 10px;
        padding-inline-start: 10px;
        -webkit-padding-end: 10px;
        padding-inline-end: 10px;
        text-align: start;
        width: 280px !important ;
        white-space: normal !important;
        text-overflow: unset !important;
      }
    }
  }
  ion-content {
    --padding-start: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-top: 5px;
    font-size: 0.7rem;
  }
}

// all ion-header
ion-header {
  ion-toolbar {
    // --background: var(--ion-color-primary-shade);
    ion-title {
      padding-inline-start: 10px;
      // font-size: 0.8rem;
    }
  }
}

ion-footer {
  ion-toolbar {
    --background: var(--ion-color-primary-shade);
  }
}

// ion-header {
//   ion-toolbar {
// padding-top: 0.9rem !important;
// padding-bottom: 0.9rem;
//   }
// }

// That's how modal can be styled globally
ion-modal {
  --border-radius: 8px;
  // --height: 75dvh !important ;
  // --width: 400px !important;
}

// .select-wrapper-inner {
// }

.upper-background {
  background: linear-gradient(350deg, var(--ion-page-gardant-bg) 60%, var(--ion-page-gardant-bg) 100%);
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  .logo-container {
    width: 140px;
    height: 190px;
  }
  ion-title {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
.lower-background {
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-light);
  .input-box {
    width: 90%;
    margin: -80px auto 0;
    padding: 1rem 1.5rem 1.5rem;
    // background-color: var(--ion-color-light);
    background-color: var(--ion-item-login-bg);
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--ion-box-shadow-color);
    ion-title {
      font-size: 1.8rem;
      font-weight: 500;
      text-align: left;
      border-bottom: 1px solid var(--ion-border-color);
      margin-bottom: 1rem;
    }
  }
}

// * ION Date Time
ion-datetime {
  // --background: black;
  --background: var(--ion-item-light-card-bg) !important;
  --background-rgb: var(--ion-color-base);
  --wheel-highlight-background: var(--ion-item-service-card-bg);
  --wheel-highlight-border-radius: 48px;
  --wheel-fade-background-rgb: var(--ion-color-base);
}

ion-datetime::part(wheel-item) {
  color: gray;
}

ion-datetime::part(active) {
  color: var(--ion-tab-bar-selected-color);
}

// ion toast
ion-toast.text-black::part(message) {
  color: var(--ion-color-dark);
}

// .login-card-container {
//   ion-card {
//     margin: 50px 0;
//     padding: 0.5rem;
//     box-shadow: none;
//     border-radius: 25px;
//     width: 90%;
//     margin: auto;
//     max-width: 500px;
//     color: var(--ion-color-dark);
//     // border: 1px solid var(--ion-border-color);
//     box-shadow: 10px 10px 50px var(--ion-box-shadow-color);
//     background: var(--ion-color-light) !important;

//     .logo-container {
//       background-color: var(--ion-color-light) !important;
//       border: 4px solid #00000010;
//       border-radius: 50%;
//       width: 110px;
//       height: 110px;
//       position: absolute;
//       top: -55px;
//       left: calc(50% - 55px);
//       img {
//         display: block;
//         padding: 0.75rem 0.5rem 1.2rem;
//         object-fit: contain;
//       }
//     }
//     ion-card-header {
//       ion-card-title {
//         color: var(--ion-color-primary);
//         text-align: center;
//         font-size: 1.5rem;
//         font-weight: 700;
//       }
//     }
//     ion-card-content {
//       ion-label {
//         font-size: 0.875rem
//       }
//       ion-item {
//         --padding-start: 0;
//         --padding-end: 0;
//         --inner-padding-end: 0px;
//         ion-input {
//           border-radius: 6px;
//           --padding-bottom: 0;
//           --padding-top: 0;
//           font-size: 0.688rem;
//         }
//       }
//       ion-grid {
//         font-size: 0.688rem;
//         ion-row {
//           ion-col {
//             ion-checkbox {
//               --size: 16px;
//             }
//             ion-checkbox::part(label) {
//               margin-inline-start: 10px;
//             }
//           }
//         }
//         ion-text {
//           font-size: 0.688rem;
//         }
//       }
//       .has-focus.ion-valid {
//         --border-color: var(--ion-color-primary);
//       }
//     }
//   }
//   .sign-in-button-container {
//     ion-button::part(native) {
//       min-height: 40px !important;
//       max-height: 20px !important;
//     }
//   }
// }

ion-modal.anc-counseling-for-pregnancy-wizard {
  --height: 400px !important ;
  --width: 90% !important;
}

.label-bottom {
  position: relative;
  bottom: -5px;
}

.custom-btn {
  // width: 100%;
  padding: 10px;
  background-color: var(--ion-tab-bar-selected-color);
  border-radius: 4px;
  color: white;
  font-weight: 500;
}

.custom-btn-outline {
  // width: 100%;
  padding: 10px;
  border: 1px solid var(--ion-tab-bar-selected-color);
  border-radius: 4px;
  color: var(--ion-tab-bar-selected-color);
  background-color: transparent;
  font-weight: 500;
}

ion-modal.reschedule-wizard {
  --height: 380px !important ;
  // --width: 350px !important;
  --width: 380px !important;
}

ion-modal.change-password-modal {
  --height: 380px !important ;
  --width: 380px !important;
}

ion-modal.anc-initiation-wizard {
  --height: 325px !important ;
  --width: 80% !important;
}

// Job aid Icon
.job-aid-icon {
  font-size: 1.3rem;
}

// Custom Floating Label input box
.custom-floating-label {
  position: relative;
  margin: 16px 0 0;
  width: 100%;
  border: 1px solid var(--ion-border-color) !important;
  border-radius: 4px;
  padding: 2px 4px;
  box-sizing: border-box;
  // background: white;
  font-size: 0.688rem;
  label {
    position: absolute;
    top: -13px; /* Adjust as needed */
    left: 12px;
    background: var(--ion-color-light);
    padding: 0 4px;
    font-size: 0.688rem;
    color: var(--ion-color-primary);
  }
  .content {
    ion-chip {
      background: none;
      margin-bottom: 0;
      padding-inline-start: 4px;
      ion-avatar {
        img {
          width: 20px;
          height: 20px;
        }
      }
      ion-label {
        font-weight: 600;
        color: var(--ion-color-primary);
      }
    }
  }
}

// Responsive semibold text
.responsive-semibold-text {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}
@media screen and (min-width: 576px) {
  .responsive-semibold-text {
    font-size: 0.938rem !important;
  }
}

@media screen and (min-width: 576px) and (min-height: 768px) {
  ion-modal.add-client-wizard {
    --height: 760px !important ;
    overflow-y: auto;
  }

  ion-modal.add-dependent-wizard {
    --height: 905px !important ;
  }

  ion-modal.anc-counseling-for-pregnancy-wizard {
    --height: 400px !important ;
    --width: 60% !important;
  }

  ion-modal.anc-initiation-wizard {
    --height: 325px !important ;
    --width: 60% !important;
  }
  ion-modal.add-group-service-wizard {
    --width: 75% !important;
    --height: 710px !important ;
  }
}

@media screen and (min-width: 768px) and (min-height: 992px) {
  ion-modal.add-client-wizard {
    --height: 760px !important ;
  }
}

@media screen and (min-width: 768px) {
  ion-alert.custom-alert {
    --min-width: 50%;
  }
  ion-content {
    .upper-background {
      min-height: 50dvh;
      border-radius: 0 0 3rem 3rem;
      .logo-container {
        padding-top: 50px;
      }
    }
    .lower-background {
      form.input-box {
        margin: -160px auto 0;
        padding: 2rem 3rem 3rem;
        width: 60%;
      }
    }
  }
  // .login-card-container {
  //   height: auto;
  //   ion-card {
  //     padding: 1rem;
  //     .login-page-image {
  //       top: -75px;
  //       left: calc(50% - 62.5px);
  //       width: 125px;
  //       height: 125px;
  //     }
  //     ion-card-header {
  //       margin-top: 10px;
  //     }
  //   }
  // }
}

@media screen and (min-width: 992px) {
  .login-card-container {
    height: auto;
    ion-card {
      padding: 1.5rem;
    }
  }
}

@media screen and (min-width: 768px) {
  // ion-modal.add-dependent-wizard {
  //   --height: 80dvh !important ;
  // }
}

@media screen and (min-width: 1200px) {
  // .split-pane-visible {
  //   .split-pane-side {
  //     max-width: 350px;
  //     min-width: 350px;
  //   }
  // }
}
