<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="hide-sm" (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger" style="position: absolute; top: -5px; right: -5px;">12</ion-badge>
      </ion-button>

      <app-user-profile-btn></app-user-profile-btn>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->