<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Shintja i pasiwedi</ion-title>
    <ion-title style="font-size: 10px">Change Password</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" style="margin: 10px 25px">
    <!-- <div>
        <ion-label>Username</ion-label>
        <ion-input formControlName="UserName" fill="outline" type="text" placeholder="Username"></ion-input>
        <p
          style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('UserName')?.invalid && form.get('UserName')?.touched"
        >
          Username is required.
        </p>
      </div> -->

    <div class="">
      <ion-label class="label-bottom">Shintja i pasiwedi</ion-label>
      <br />
      <ion-label style="font-size: 0.625rem; font-weight: 500">Current Password</ion-label>

      <ion-input fill="outline" [type]="isCurrentPasswordShow ? 'text' : 'password'" formControlName="Password"
        placeholder="Current Password">
        <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
          aria-label="Show/hide" (click)="currentPassword()">
          <ion-icon *ngIf="!isCurrentPasswordShow" slot="icon-only" color="primary" name="eye-outline"
            aria-hidden="true"></ion-icon>
          <ion-icon *ngIf="isCurrentPasswordShow" slot="icon-only" color="primary" name="eye-off-outline"
            aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>

      <p style="color: red; font-size: 0.75rem; margin: -1px"
        *ngIf="form.get('Password')?.invalid && form.get('Password')?.touched">
        Password is required.
      </p>
    </div>

    <div class="">
      <ion-label class="label-bottom">Ipasiwedi lentja</ion-label>
      <br />
      <ion-label style="font-size: 0.625rem; font-weight: 500">New Password</ion-label>

      <ion-input fill="outline" [type]="isShowPassword ? 'text' : 'password'" formControlName="NewPassword"
        placeholder="Ipasiwedi lentja">
        <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
          aria-label="Show/hide" (click)="passwordShow()">
          <ion-icon *ngIf="!isShowPassword" slot="icon-only" color="primary" name="eye-outline"
            aria-hidden="true"></ion-icon>
          <ion-icon *ngIf="isShowPassword" slot="icon-only" color="primary" name="eye-off-outline"
            aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>

      <p style="color: red; font-size: 0.75rem; margin: -1px"
        *ngIf="form.get('NewPassword')?.invalid && form.get('NewPassword')?.touched">
        New Password is required.
      </p>
    </div>

    <div class="">
      <ion-label class="label-bottom">Cinisekisa iphasiwedi</ion-label>
      <br />
      <ion-label style="font-size: 0.625rem; font-weight: 500">Confirm Password</ion-label>

      <ion-input fill="outline" [type]="isNewPasswordShow ? 'text' : 'password'" formControlName="ConfirmPassword"
        placeholder="Cinisekisa iphasiwedi">
        <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
          aria-label="Show/hide" (click)="newPassword()">
          <ion-icon *ngIf="!isNewPasswordShow" slot="icon-only" color="primary" name="eye-outline"
            aria-hidden="true"></ion-icon>
          <ion-icon *ngIf="isNewPasswordShow" slot="icon-only" color="primary" name="eye-off-outline"
            aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>

      <p style="color: red; font-size: 0.75rem; margin: -1px"
        *ngIf="form.get('ConfirmPassword')?.invalid && form.get('ConfirmPassword')?.touched">
        Confirm Password is required.
      </p>
      <p style="color: red; font-size: 0.75rem; margin: -1px"
        *ngIf="form.get('ConfirmPassword')?.touched && confirmPasswordError">
        {{ confirmPasswordError }}
      </p>
    </div>

    <ion-grid class="ion-no-padding ion-margin-top">
      <ion-row class="ion-align-items-center"> </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-footer [off]="form.invalid" (saveEvent)="onSubmit()" />