<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Kukhokhelwa nge HIV</ion-title>
    <ion-title style="font-size: 0.625rem">HIV Counseling</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col>
          <ion-label class="label-bottom">Kukhokhelwa<span style="color: red">*</span></ion-label>
          <br />
          <ion-label style="font-size: 0.625rem; font-weight: 500">Counseling Type<span
              style="color: red">*</span></ion-label>

          <ion-select interface="popover" toggleIcon="chevron-down-outline" fill="outline"
            formControlName="CounselingType" placeholder="--Khetsa--">
            <ion-select-option *ngFor="let counselingType of counselingTypesArray" [value]="counselingType.value">
              {{ counselingType.label }}
            </ion-select-option>
          </ion-select>

          <p style="color: red; font-size: 0.75rem; margin: -1px" *ngIf="
              (form.controls['CounselingType'].invalid && form.controls['CounselingType'].touched) ||
              (form.controls['CounselingType'].invalid && isValid)
            ">
            Required!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-footer (saveEvent)="onSubmit()" />