<ion-content>
  <div class="upper-background">
    <div class="logo-container animate__animated animate__bounceInDown"></div>
  </div>
  <div class="lower-background">
    <form [formGroup]="form" (ngSubmit)="onSubmit()"
      class="input-box animate__animated animate__bounceInUp animate__slow">
      <ion-title class="ion-no-padding">Change Password</ion-title>
      <!-- <div>
        <ion-label>Username</ion-label>
        <ion-input formControlName="UserName" fill="outline" type="text" placeholder="Username"></ion-input>
        <p
          style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('UserName')?.invalid && form.get('UserName')?.touched"
        >
          Username is required.
        </p>
      </div> -->

      <div class="ion-margin-top">
        <ion-label>Current Password</ion-label>

        <ion-input fill="outline" [type]="isCurrentPasswordShow ? 'text' : 'password'" formControlName="Password"
          placeholder="Current Password">
          <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
            aria-label="Show/hide" (click)="currentPassword()">
            <ion-icon *ngIf="!isCurrentPasswordShow" slot="icon-only" color="primary" name="eye-outline"
              aria-hidden="true"></ion-icon>
            <ion-icon *ngIf="isCurrentPasswordShow" slot="icon-only" color="primary" name="eye-off-outline"
              aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>

        <p style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('Password')?.invalid && form.get('Password')?.touched">
          Password is required.
        </p>
      </div>

      <div class="ion-margin-top">
        <ion-label>New Password</ion-label>

        <ion-input fill="outline" [type]="isShowPassword ? 'text' : 'password'" formControlName="NewPassword"
          placeholder="New Password">
          <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
            aria-label="Show/hide" (click)="passwordShow()">
            <ion-icon *ngIf="!isShowPassword" slot="icon-only" color="primary" name="eye-outline"
              aria-hidden="true"></ion-icon>
            <ion-icon *ngIf="isShowPassword" slot="icon-only" color="primary" name="eye-off-outline"
              aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>

        <p style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('NewPassword')?.invalid && form.get('NewPassword')?.touched">
          New Password is required.
        </p>
      </div>

      <div class="ion-margin-top">
        <ion-label>Confirm Password</ion-label>

        <ion-input fill="outline" [type]="isNewPasswordShow ? 'text' : 'password'" formControlName="ConfirmPassword"
          placeholder="Confirm Password">
          <ion-button style="min-height: 30px; height: 30px; position: relative; left: 14px" fill="clear" slot="end"
            aria-label="Show/hide" (click)="newPassword()">
            <ion-icon *ngIf="!isNewPasswordShow" slot="icon-only" color="primary" name="eye-outline"
              aria-hidden="true"></ion-icon>
            <ion-icon *ngIf="isNewPasswordShow" slot="icon-only" color="primary" name="eye-off-outline"
              aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>

        <p style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('ConfirmPassword')?.invalid && form.get('ConfirmPassword')?.touched">
          Confirm Password is required.
        </p>
        <p style="color: red; font-size: 0.75rem; margin: -1px"
          *ngIf="form.get('ConfirmPassword')?.touched && confirmPasswordError">
          {{ confirmPasswordError }}
        </p>
      </div>

      <ion-grid class="ion-no-padding ion-margin-top">
        <ion-row class="ion-align-items-center"> </ion-row>
      </ion-grid>
      <div class="ion-margin-top sign-in-button-container">
        <ion-button [disabled]="form.invalid" type="submit" expand="block"
          style="text-transform: capitalize; /* width: 90%; */ margin: 0 auto">Save</ion-button>
      </div>
    </form>
  </div>

  <!--  <form class="login-card-container">
        <ion-card style="contain: none; overflow: visible; margin: 100px auto">
            <ion-card-content>
                <div>
                    <ion-label>Username</ion-label>
                    <ion-input fill="outline" type="text" placeholder="Username"></ion-input>
                </div>
                <div class="ion-margin-top">
                    <ion-label>Current Password</ion-label>

                    <ion-input fill="outline" type="text" placeholder="Current Password"></ion-input>
                </div>
                <div class="ion-margin-top">
                    <ion-label>New Password</ion-label>

                    <ion-input fill="outline" type="text" placeholder="New Password"></ion-input>
                </div>
                <div class="ion-margin-top">
                    <ion-label>Confirm Password</ion-label>
                    <ion-input fill="outline" type="text" placeholder="Confirm Password"></ion-input>
                </div>
                <ion-grid class="ion-no-padding ion-margin-top">
                    <ion-row class="ion-align-items-center">
                    </ion-row>
                </ion-grid>
                <div class="ion-margin-top sign-in-button-container">
                    <ion-button type="submit" expand="block" mode="ios" style="
                text-transform: capitalize;
                /* width: 90%; */
                margin: 0 auto;
              ">Save</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </form> -->
</ion-content>