<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Timfundziso te TB letentiwe</ion-title>
    <ion-title style="font-size: 0.625rem">TB Discussed Topic</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item *ngFor="let item of data">
    <ion-toggle (ionChange)="handleSelectionChange($event, item.Oid)" labelPlacement="end" justify="start"
      [checked]="selectedTopics.includes(item.Oid)">{{ item.Description }}</ion-toggle>
    <ion-button color="primary" fill="clear" size="small">
      <ion-icon class="job-aid-icon" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>

<app-footer [off]="isDisabled" (saveEvent)="onSubmit()" />