ion-content::part(background) {
  background-color: var(--ion-background-color);
}
ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ion-content {
  div {
    img {
      width: 250px;
      height: 250px;
    }
  }
}
