<app-right-navbar [title]="''" />
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Users</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div style="overflow: auto">
              <div style="overflow-x: auto; min-width: 650px">
                <ion-grid class="user-table">
                  <ion-row class="ion-align-items-center table-header">
                    <ion-col size="1">
                      <ion-checkbox></ion-checkbox>
                    </ion-col>
                    <ion-col size="2">Name</ion-col>
                    <ion-col size="4">Username</ion-col>
                    <ion-col size="2">Phone</ion-col>
                    <ion-col size="1.8">Role</ion-col>
                    <ion-col size="1.2">Action</ion-col>
                  </ion-row>

                  <ion-row class="ion-align-items-center table-row" *ngFor="
                      let user of users?.reverse();
                      let i = index;
                      let last = last
                    " (click)="onRowClick(i)">
                    <ion-col size="1">
                      <ion-checkbox></ion-checkbox>
                    </ion-col>
                    <ion-col size="2">{{ user.FirstName }} {{ user.LastName }}</ion-col>
                    <ion-col size="4">{{ user.Username }}</ion-col>
                    <ion-col size="2">{{ user.Cellphone }}</ion-col>
                    <ion-col size="1.8">{{ user.UserType === 3 ? 'RHM' : '' }}</ion-col>
                    <ion-col size="1.2">
                      <ion-button fill="clear" (click)="editUser(user, $event)">
                        <ion-icon slot="icon-only" size="small" name="pencil"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>