<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Lomunyisa abhice nalokicinile</ion-title>
    <ion-title style="font-size: 0.625rem">Breastfeeding & Complimentary</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <!-- <ion-grid class="ion-padding-horizontal"> -->
    <!-- <ion-row>
        <ion-col size="12">
          BFC<span style="color: red">*</span>
          <ion-select
            formControlName="BCFId"
            interface="popover"
            toggleIcon="chevron-down-outline"
            fill="outline"
            placeholder="--Khetsa--"
          >
            <ion-select-option [value]="null">--Khetsa--</ion-select-option>
            <ion-select-option *ngFor="let status of BCFs" [value]="status.Oid">
              {{ status.Description }}
            </ion-select-option>
          </ion-select>
          <p
            style="color: red; font-size: 0.75rem; margin: -1px"
            *ngIf="
              (form.controls['BCFId'].invalid && form.controls['BCFId'].touched) ||
              (form.controls['BCFId'].invalid && isValid)
            "
          >
            Required!
          </p>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-item *ngFor="let item of BCFs; let i = index; let last = last">
      <ion-toggle labelPlacement="end" justify="start" (ionChange)="handleSelectionChange($event, item.Oid)"
        [checked]="selectedItems.includes(item.Oid)">{{ item.Description }}</ion-toggle>
      <!-- <ion-button (click)="openPopover($event, i)" color="primary" fill="clear" size="small">
          <ion-icon class="job-aid-icon" name="information-circle-outline"></ion-icon>
        </ion-button> -->
    </ion-item>
  </form>
</ion-content>

<app-footer [off]="isDisable" (saveEvent)="onSubmit()" />