<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Tifundvo tetemphilo</ion-title>
    <ion-title style="font-size: 0.625rem">Health Education Topics</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding" style="background-color: rgba(91, 228, 37, 0.1); border: 1px solid rgb(91, 228, 37);">
    <ion-text>1 training conducted</ion-text>
  </div> -->
  <ion-item [lines]="last ? 'none' : ''" *ngFor="let topic of options; let i = index; let last = last">
    <ion-toggle labelPlacement="end" justify="start" (ionChange)="handleSelectionChange($event, topic.Oid)"
      [checked]="selectedTopics.includes(topic.Oid)">{{ topic.Description }}</ion-toggle>
    <ion-button (click)="openPopover($event, i)" color="primary" fill="clear" size="small">
      <ion-icon class="job-aid-icon" name="information-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar style="padding: 0 10px">
    <ion-button size="small" slot="end" fill="clear" color="primary" (click)="dismissModal()">Cancel</ion-button>
    <ion-button size="small" slot="end" fill="solid" color="primary" (click)="onSubmit()">Save</ion-button>
  </ion-toolbar>
</ion-footer> -->

<app-footer [off]="isEnabled" (saveEvent)="onSubmit()" />