<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Kudvubutwa ngemaphilisi</ion-title>
    <ion-title style="font-size: 0.625rem">ART</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close" size="small"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col size="12">
          <ion-label class="label-bottom">Kudvubutwa ngemaphilisi</ion-label>
          <br />
          <ion-label style="font-size: 0.625rem; font-weight: 500">Medication Side Effect</ion-label>

          <ion-select interface="popover" toggleIcon="chevron-down-outline" fill="outline" placeholder="--Khetsa--"
            formControlName="MedicationSideEffect">
            <ion-select-option [value]="null">--Khetsa--</ion-select-option>
            <ion-select-option *ngFor="
                let option of [
                  { value: 1, label: 'Value 1' },
                  { value: 2, label: 'Value 2' }
                ]
              " [value]="option.value">
              {{ option.label }}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12">
          <ion-toggle justify="start" labelPlacement="end" formControlName="IsOnTBPrevention">Lotsatsa emaphilisi e TB
            <br />
            <small>Is on TB prevention.</small></ion-toggle>
        </ion-col>
        <ion-col>
          <ion-label class="label-bottom">Kuphatseka kahle/kabi</ion-label>
          <br />
          <ion-label style="font-size: 0.625rem; font-weight: 500">Wellbeing Issue</ion-label>

          <ion-textarea placeholder="Enter Wellbeing Issue" formControlName="WellbeingIssues" fill="outline"
            maxlength="500" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<app-footer (saveEvent)="onSubmit()" />